body {
  padding: 0px 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  /*color: #00B7FF;*/
  color: #FF5D00;
}
 
.container{
	width: 900px;
	padding-top: 0px;
	margin-top: 0px;
}

.main-content{
  overflow-x:auto;
}

.main-content table{
  width: 90%;
  margin: auto;
}
.main-content table tr{
  padding: 3px;
}
.main-content table tr th{
    padding: 3px;
    text-align: center;
    vertical-align: middle;
}
.main-content table tr td{
    padding: 6px 3px;
    vertical-align: middle;
}

.main-content table tr th a{
    color: #fff;
}

.main-content table tr:nth-child(even){
}

.main-content table tr:nth-child(odd){
    background: #F0F0F0;
}

.main-content table tr:nth-child(1){
    background: #505050;
    color: #fff;
    height: 34px;
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
    line-height: 34px;
}

.main-content table tr td:nth-child(1){
    text-align: center;
}

.main-content table tr td:nth-child(2){
    text-align: right;
    padding-right: 10px;
}

.main-content table tr td:nth-child(3){
    text-align: center;
    padding:0px 10px; 
    width: 60px;
}

.main-content table tr td:nth-child(4){
    text-align: left;
    padding-left: 10px;  
}

.main-content table tr td:nth-child(5){
    text-align: center;
}


@media screen and (max-width: 900px) {
    .container{
        width: 90%;
    }
}

@media screen and (max-width: 640px) {
    .main-content table{
      width: 100%;
    }
    .container{
        width:100%;
    }
    .videoWrapper iframe{
      width: 300px;
      height: 150px;
    }
}

.header-title{
	display: block;
	width: 100%;
	background: #303030;;
}

.header-title ul li{
	display: inline-block;
    font-size: 16px;
    margin: 0px 100px;
    color: #fff;
}
.header-banner{
	
}

.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {
  min-width: 100% !important;
  width: 100% !important;
}

.match-status{

}

.match-playing a{
  color: #2FB36A;
}


.match-end a{
  color: #444444;
}